.exit {
    background-image: url(img/ground.png);
    content: url(img/exit-arch.png);
}

.entrance {
    background-image: url(img/ground.png);
}
.row {
    display: flex;
}

.tile {
    width: 16px;
    height: 16px;
}

.black {
    background-image: url(img/unseen.png);
}

.floor {
    background-image: url(img/ground.png);
}

.chest {
    content: url(img/gold-chest.png);
}

.tree {
    content: url(img/tree.png);
}

.wall {
    background-image: url(img/water.png);
}

.player {
    content: url(img/character/archer.gif);
    background-image: url(img/ground.png);
}

.kublai {
    background-color: blue;
}