.exit {
    background-image: url(img/ground.png);
    content: url(img/exit-arch.png);
}

.entrance {
    background-image: url(img/ground.png);
}
.row {
    display: flex;
}

.tile {
    width: 16px;
    height: 16px;
}


.black .moster {
    content: url(img/unseen.png);
}

.floor {
    background-image: url(img/ground.png);
}

.chest {
    content: url(img/gold-chest.png);
}

.blood {
    content: url(img/blood.png);
}

.tree {
    content: url(img/tree.png);
}

.tree-alt {
    content: url(img/tree-alt.png);
}

.flame {
    content: url(img/flame.png);
}

.rock {
    content: url(img/rock.png);
}

.wall {
    background-image: url(img/water.png);
}

.player {
    content: url(img/character/archer.gif);
    background-image: url(img/ground.png);
}

.kublai {
    content: url(img/character/kublai.png);
    background-image: url(img/ground.png);
}

.monster {
    content: url(img/character/thief.gif); 
}

.tentacle {
    content: url(img/monster/blood-tentacle.png);
}

.black {
    content: url(img/unseen.png);
}